@model Product
<h1 class="text-danger">Student</h1>
<hr />
<table class="table table-active">
    <tr>
        <td>ID:</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Age:</td>
        <td>@Model.Age</td>
    </tr>
</table>
<a asp-action="Display" class="btn btn-success">Back</a>